@charset "UTF-8";
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 스크린 리더에서만 읽히고 화면에 보이지 않도록 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

/* 요소의 크기를 넘친 텍스트 말줄임 처리 */
.ellipsis {
  overflow: hidden; /* 부모 밖으로 빠나온 텍스를 숨김 */
  white-space: nowrap; /* 줄바꿈 안되게 */
  text-overflow: ellipsis;
}

/* 특정 라인부터 말줄임 처리 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cart {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}
.cart__title {
  margin-top: 54px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.cart__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.cart__table-section {
  margin-top: 52px;
}
.cart__header {
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
}
.cart__header th {
  padding: 18.5px 0;
  vertical-align: middle;
}
.cart__header th:first-child {
  border-radius: 10px 0 0 10px;
  text-align: center;
  padding-right: 15px;
  width: 10%;
}
.cart__header th:last-child {
  border-radius: 0 10px 10px 0;
}
.cart input[type=checkbox] {
  width: 20px;
  height: 20px;
  border: 2px solid #21bf48;
  border-radius: 50%;
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.cart input[type=checkbox]:checked {
  background-color: #fff;
}
.cart input[type=checkbox]:checked::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #21bf48;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.cart__list {
  margin-top: 25px;
}
.cart__item td {
  border-top: #e0e0e0 2px solid;
  border-bottom: #e0e0e0 2px solid;
}
.cart__checkbox-cell {
  text-align: center;
  vertical-align: middle;
  border-left: #e0e0e0 2px solid;
  border-radius: 10px 0 0 10px;
  padding-right: 15px;
}
.cart__product-price-cell {
  border-right: #e0e0e0 2px solid;
  border-radius: 0 10px 10px 0;
}
.cart__product-cell img {
  width: 160px;
  padding: 20px 0;
  float: left;
  margin-right: 36px;
  border-radius: 10px;
}
.cart__product-seller {
  margin-top: 26px;
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
}
.cart__product-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
  margin-top: 10px;
}
.cart__product-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: 10px;
}
.cart__delivery-info {
  margin-top: 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  color: #767676;
}
.cart__product-quantity-cell {
  vertical-align: middle;
}
.cart__quantity-container {
  text-align: center;
  display: flex;
  justify-content: center;
}
.cart .quantity-modal__btn {
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
}
.cart__quantity--minus {
  border-radius: 5px 0 0 5px;
  background: url("../../assets/icons/icon-minus-line.svg") no-repeat 50% 50%;
}
.cart__quantity--plus {
  border-radius: 0 5px 5px 0;
  background: url("../../assets/icons/icon-plus-line.svg") no-repeat 50% 50%;
}
.cart__quantity {
  width: 50px;
  height: 50px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart__product-price-cell {
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cart__product-price-cell .cart__total-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #eb5757;
}
.cart__payment-btn--single {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  background-color: #21bf48;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: 26px;
}
.cart__delete-btn {
  width: 22px;
  height: 22px;
  background-image: url("../../assets/icons/icon-delete.svg");
  float: right;
  position: absolute;
  top: 18px;
  right: 18px;
}
.cart__payment-info {
  display: flex;
  justify-content: space-around;
  height: 150px;
  margin-top: 80px;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 10px;
}
.cart__symbol--minus {
  width: 34px;
  height: 34px;
  background: url("../../assets/icons/icon-minus-line.svg") no-repeat #fff 50% 50%;
  border-radius: 50%;
  margin-top: 58px;
}
.cart__symbol--plus {
  width: 34px;
  height: 34px;
  background: url("../../assets/icons/icon-plus-line.svg") no-repeat #fff 50% 50%;
  border-radius: 50%;
  margin-top: 58px;
}
.cart__payment-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.cart__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.cart__label--bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}
.cart__amount span {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  vertical-align: middle;
}
.cart__amount--final {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #eb5757;
}
.cart__amount--final span {
  font-size: 36px;
  color: #eb5757;
}
.cart__payment-btn--multi {
  width: 220px;
  height: 68px;
  border-radius: 5px;
  background-color: #21bf48;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  display: block;
  margin: 40px auto 160px;
}
.cart__modal {
  width: 360px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
.cart__modal--close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 18px 18px 0 0;
}
.cart__modal--cancel {
  background: url("../../assets/icons/icon-delete.svg") no-repeat;
  width: 22px;
  height: 22px;
}
.cart__quantity-modal--control {
  display: flex;
}
.cart__modal-quantity {
  width: 50px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #c4c4c4;
}
.cart__modal-quantity::-webkit-outer-spin-button, .cart__modal-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart__modal-quantity--minus {
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background: url("../../assets/icons/icon-minus-line.svg") no-repeat 50% 50%;
}
.cart__modal-quantity--plus {
  width: 50px;
  height: 50px;
  border: 1px solid #c4c4c4;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background: url("../../assets/icons/icon-plus-line.svg") no-repeat 50% 50%;
}
.cart__modal-quantity--cancel, .cart__modal-delete--cancel {
  width: 100px;
  height: 40px;
  color: #767676;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.cart__modal-btn-group {
  margin-top: 26px;
  display: flex;
  gap: 10px;
}
.cart__modal-quantity--update, .cart__modal-delete--update {
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #21bf48;
  border-radius: 5px;
}
.cart__modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.cart__modal-overlay.is-open {
  display: flex;
}
.cart__delete-modal-text {
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
