@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700; // Bold
    src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2")
        format("woff2");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500; // Medium
    src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2")
        format("woff2");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400; // Regular
    src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 300; // Light
    src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2")
        format("woff2");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 100; // Thin
    src: url("../../assets/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2")
        format("woff2");
}
